html{
    background-color: none;
    padding: 0px;
    font-family: 'Russo One','Open Sans',sans-serif;
    scroll-behavior: smooth;
}
body{
    transition: 0.3s;
}

/* Style the navigation links inside the navigation bar*/
.nav a{
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color:blue;
    font-size: 17px;
}
/*Change the appearance of the link when you hover over it*/
.nav a:hover{
    background-color: ;
    color: black;
}
/*Change the appearance of the link when it is active*/
.nav a:active{
    background-color: ;
    color: white;
}
/* style the image and the about section of the page*/
#myimg{
    float: left;
    padding: 20px 30px 20px 0px;
}

#Home #contact{
	background-color: #fff;
}

#projects, #nav{
	background-color: rgb(126, 76, 116,0.3);
    /*opacity: 0.8;*/
}

.lead{
    font-family: architect;
    color: #002D5B;
    line-height: 1.5em;
}
ul{
    list-style: none;
}
h3{
    padding: none;
}

.fa{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-left: 0%;
    padding-right: 0.2em;
}
span.clear { clear: left; display: block; } /* used to create a seperation between two divs with an image*/

#map{
    height: 180px;
}

